.items{
    background-color:#198754;
    color:beige;
    text-align :center;
    font-size:25px;
    width: 100%;
    display:flex;
}

.col-md-6 .card {
    
    width: 35% !important;

     
}

.card{
    margin: 2rem auto;
    padding: 1px;
    border:2px solid #198754 ;


}
img.card-img-top {
    height: 35% !important;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }